<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>故事飞船分享视频</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0, maximum-scale=1,user-scalable=yes" />
    <meta name="format-detection" content="telephone=no" />
    <link rel="stylesheet" href="../../static/share/css/reset.css">
    <link rel="stylesheet" href="../../static/share/css/videoShare.css">
</head>
<body>

    <video class="video" controls autoplay width="100%" src="${videoPath}">

    </video>
    <div class="bottom-area">
        <img class="left" src="../../static/share/img/bottomlogo.png" alt="">

        <a href="https://storyship.ifenghui.com" target="_blank">
            <div class="right">
                立即打开
            </div>
        </a>
    </div>
</body>
</html>