<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>领取成功</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0, maximum-scale=1,user-scalable=yes" />
		<meta name="format-detection" content="telephone=no" />
		<link rel="stylesheet" href="../../static/share//css/reset.css">
		<link rel="stylesheet" href="../../static/share//css/success.css">
		<script type="text/javascript" src="../../static/static/share/js/jquery-1.7.2.min.js"></script>
	</head>
	<body>
		<div class="full">
			<div class="scontent">
				<div class="success_top">
					<!--<img src="../../static/static/share/img/success.png">-->
				</div>
				<div class="s_download">
					<a href="http://storyship.ifenghui.com/">
						<img src="../../static/share/img/button1.png">
					</a>
				</div>
		    </div>
	    </div>
		<!--统计-->
		<script>
			var _hmt = _hmt || [];
			(function() {
				var hm = document.createElement("script");
				hm.src = "https://hm.baidu.com/hm.js?c965b151145f3c46edbe51621db6da22";
				var s = document.getElementsByTagName("script")[0];
				s.parentNode.insertBefore(hm, s);
			})();
		</script>
    </body>
</html>
