	body,html{height:100%;background:url(../img/bg2.png) top left no-repeat;background-size:100% ; }
	.full{width:100%;}


	.scontent{width:100%;padding-top:120%;}
	.success_top img{display:block;margin:0 auto; width:100%}
	.s_download img{display:block;margin:0 auto; width:70%;margin-top:-7px;}



